html, body, body>#root {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #94b5ea;
    gap: 20px;
    overflow-y: auto;
}

.container .card {
    background-color: #e7e7e7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(211, 211, 211);
    padding: 10px;
    height: 600px;
    width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.messages-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message-box {
    background-color: #4874c5;
    border-radius: 8px;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgb(211, 211, 211);
}

.message-timestamp {
    font-size: 12px;
    color: #888;
}

.message-box-wrapper {
    display: inline-block;
    position: relative;
    max-width: 70%;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.input-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.text-input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgb(211, 211, 211);
}

.login-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-group .text-input{
    width:90%;
}

.color-input{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.color-input label{
    font-weight: bold;
}

.color-input input{
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgb(211, 211, 211);
}

.error{
    color: red;
    font-size: 0.9em;
}

.schema-pop-up {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(211, 211, 211);
    z-index: 1;
    transform:  translateY(-120%);
}

.dialog-overlay {
    background-color: white;
    width: 60%;
    color: black;
    overflow: auto;
    padding: 0;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}

.dialog-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.dialog-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgb(192, 192, 192);
}

.dialog-header>h2 {
    margin: 0;
}


.dialog-content {
    overflow: auto;
    padding: 10px;

}

.control-label {
    font-weight: bold;
}

.rjsf-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field-description {
    font-size: 0.9em;
    color: #666;
}
